body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 5px 0;
}

.par {
    color: blue;
}

.impar {
    color: green;
}

.no-entero {
    color: red;
}
